<!--
    Copyright (C) 2020 BLIBWT

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
{% extends "base.jinja2" %}

{% block page_content %}
<!-- Authentication -->
  <section id="authentication">
    <div class="container">
      <div class="title text-center py-3">
        <h2>Authentication</h2>
      </div>
      <div class="content py-3">
        <p>
          Click on your Telegram ID button to sign in and access to your T-UserBot settings.
        </p>
      </div>
      <div class="d-flex flex-wrap justify-content-center pb-3">
        {% for uid in users %}
        <div class="p-2">
          <button type="submit" id="telegramCodeSubmit" class="btn btn-primary">{{ uid }}</button>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}

{% block modal %}
<!-- Telegram Code -->
  <div class="modal fade" id="telegramCodeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Telegram Connexion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form id="telegramCodeForm">
            <div class="form-group">
              <label for="code">Code</label>
              <input type="password" pattern="[0-9]{5}" id="code" class="form-control" placeholder="Enter your Telegram code" aria-describedby="code_help" required="required">
              <small id="code_help" class="form-text text-muted">Enter the code sent to your <a id="telegramCodeHelpLink" href="#" target="_blank" rel="noopener, norefferer">Saved message</a>. Code do 5 characters.</small>
            </div>
            <button type="submit" id="telegramCodeSubmit" class="btn btn-primary">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ static('js/scrypt-async.min.js') }}"></script>
  <script src="{{ static('js/authentication.min.js') }}"></script>
{% endblock %}