<!DOCTYPE html>

{% set content %}
  {% block page_content %}<div class="error text-center py-3">An error as occurred. Please reload page.</div>{% endblock %}
{% endset %}

<!--
    Copyright (C) 2020 BLIBWT

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<html>
  <head>
    <title>T-UserBot</title>
		
		<meta charset="UTF-8">	
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ static('img/icon_180.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ static('img/icon_32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ static('img/icon_16.png') }}">
		<link rel="shortcut icon" href="{{ static('img/icon.ico') }}">
    
    <link rel="stylesheet" href="{{ static('css/style.min.css') }}">
  </head>

  <body id="top">
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top">
			<a class="navbar-brand nav-item active scroll" href="#top"><span class="fa fa-leaf"></span><span class="sr-only">(current)</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-angle-down"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
				</ul>
				<ul class="navbar-nav">
          {% block navbar_items %}{% endblock %}
					<li class="nav-item">
						<input type="checkbox" id="switchMode" class="switch-mode">
					</li>
				</ul>
			</div>
    </nav>
    
    <header>
      <div class="title">
        <h1>T-UserBot</h1>
      </div>
    </header>

    {{ content }}
    {% block modal %}{% endblock %}

    <footer>
      <div class="btn-scroll">
				<a class="btn scroll" href="#top"><i class="fas fa-arrow-circle-up"></i></a>
			</div>
			<div class="copyright text-center py-3">
				Copyright &copy; 2020 by BLIBWT.
      </div>
    </footer>
    
		<script src="{{ static('js/jquery/jquery.min.js') }}"></script>
		<script src="{{ static('js/bootstrap/bootstrap.min.js') }}"></script>
		<script src="{{ static('js/jquery/jquery-easing.min.js') }}"></script>
    <script src="{{ static('js/main.min.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
