<!--
    Copyright (C) 2020 BLIBWT

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% set ns = namespace(module_number=0) %}
{% set ns2 = namespace(module_number=0) %}

{% extends "base.jinja2" %}

{% block nav_items %}
  <li class="nav-item">
    <a class="nav-link scroll" href="/modules">Modules settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link scroll" href="/translate">Translations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link scroll" href="/logOut">Log out</a>
  </li>
{% endblock %}

<!-- Same as original... -->
{% block header_title %}
T-UserBot
{% endblock %}


{% block page_content %}
  <div class="mdl-card__title">
    <h3 class="mdl-card__title-text">Configuration</h3>
  </div>
  <div class="mdl-card__supporting-text">
    Here you can modify most settings that are supported in T-UserBot
    {% for module in modules %}
      <br>
      {% set ns.module_number = ns.module_number + 1 %}
      <a href="#module_{{ ns.module_number }}">{{ module.name }}</a>
    {% endfor %}
  </div>
  {% for module in modules %}
    <br>
    {% set ns2.module_number = ns2.module_number + 1 %}
    <div class="mdl-card mdl-shadow--2dp padded" style="width: 100%;" id="module_{{ ns2.module_number }}">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">{{ module.name }}</h3>
      </div>
      <div class="mdl-cad__supporting-text" style="width:100%;">
        <p>{{ module|getdoc }}
        <br>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-responsive" style="width: 100%; display: block; table-layout: fixed;">
          <colgroup>
            <col class="config-col">
            <col class="config-col">
            <col class="config-col">
            <col class="config-col">
          </colgroup>
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric col">Key</th>
              <th class="mdl-data-table__cell--non-numeric col">Documentation</th>
              <th class="mdl-data-table__cell--non-numeric col">Default</th>
              <th class="mdl-data-table__cell--non-numeric col">Value</th>
            </tr>
          </thead>
          <tbody>
            {% for key in module.config %}
              <tr>
                <th class="mdl-data-table__cell--non-numeric col row-header" scope="row">{{ key }}</td>
                <td class="mdl-data-table__cell--non-numeric col">{{ module.config.getdoc(key) }}</td>
                <td class="mdl-data-table__cell--non-numeric col">{{ module.config.getdef(key)|ascii }}</td>
                <td class="mdl-data-table__cell--non-numeric col">
                  <form action="#module_{{ ns2.module_number }}">
                    <div class="mdl-textfield mdl-js-textfield">
                      <textarea class="mdl-textfield__input" type="text" rows="1" data-modulenum="{{ ns2.module_number }}" data-configkey="{{ key }}" data-defaultvalue="{{ module.config.getdef(key)|ascii }}" data-currentvalue="{{ module.config[key]|ascii }}" id="input_{{ ns2.module_number }}_{{ key }}" value="{{ module.config[key]|ascii }}" onchange="setModulesSettings(this);"></textarea>
                      <label class="mdl-textfield__label" for="input_{{ ns2.module_number }}_{{ key }}">{{ module.config.getdef(key)|ascii }}</label>
                    </div>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block js %}
  <script src="{{ static('js/config.js') }}"></script>
{% endblock %}