<!--
    Copyright (C) 2020 BLIBWT

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends "base.jinja2" %}

{% block nav_items %}
  <li class="nav-item">
    <a class="nav-link scroll" href="/modules">Modules settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link scroll" href="/translate">Translations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link scroll" href="/logOut">Log out</a>
  </li>
{% endblock %}

{% block header_title %}
T-UserBot
{% endblock %}

{% block content %}
<div class="mdl-card__title">
  <h3 class="mdl-card__title-text">Welcome to the T-UserBot web interface</h3>
</div>
<div class="mdl-card__supporting-text">
  Here you can configure various features of T-UserBot, as well as access debugging tools and status reports
  <br>
  You are signed in as {{ name }} ({{ uid }}).
  <br>
  Click the hamburger menu to the left to begin.
</div>
{% endblock %}
