<!--
    Copyright (C) 2020 BLIBWT

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends "base.jinja2" %}

{% block navbar_items %}
  <li class="nav-item">
    <a class="nav-link scroll" href="/modules">Modules settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link scroll" href="/translate">Translations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link scroll" href="/logOut">Log out</a>
  </li>
{% endblock %}

{% block page_content %}
<!-- Home -->
  <section id="home">
    <div class="container">
      <div class="title text-center py-3">
        <h2>Home</h2>
      </div>
      <div class="content py-3">
        <p>
          Hi {{ name }} ({{ uid }}) !
          <br>
          To modify your T-Userbot settings, click on navbar links.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
